<!DOCTYPE html>
<html lang="en" ng-app="HV">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/services/crud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/machine.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/agent.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/office.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-default" ng-init="consultarSesion()">
        <div class="container-fluid" ng-init="consultarArticulosCasiAgotados()">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a  data-toggle="modal" data-target="#formularioPerfil"><span class="glyphicon glyphicon-cog"></span>&ThinSpace;Cuenta</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-click="cerrarSesion()"><span class="glyphicon glyphicon-remove"></span>&ThinSpace;Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <aside>
        <article class="col-md-2" id="menu">
            <a ng-href="/machine" class="list-group-item"><span class="glyphicon glyphicon-hdd"></span>&ThinSpace;Maquinas</a>
            <a ng-href="/office" class="list-group-item"><span class="glyphicon glyphicon-blackboard"></span>&ThinSpace;Oficina</a>
            <a ng-href="/agent" class="list-group-item"><span class="glyphicon glyphicon-user"></span>&ThinSpace;Representante</a>
            <a ng-href="/sampleDetail" class="list-group-item"><span class="glyphicon glyphicon-link"></span>&ThinSpace;Detalle Muestra</a>
        </article>
        <section class="col-md-10 col-md-offset-2">
            {% block content %}{% endblock %}
        </section>
    </aside>
</body>
</html>